* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
}

ul {
}

a.active {
  color: red;
}
header {
  background-color: brown;
  color: #fff;
  padding: 10px;
  height: 35px;
}
header ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

header ul a {
  display: block;
  margin: 0 10px;
  color: #fff;
}

.posts a {
  display: block;
  margin: 5px;
  border: 1px solid gray;
  padding: 10px;
  text-decoration: none;
}
